<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="InventoryDb"
             connectionString="Data Source=studatadev1;Initial Catalog=CADCS26;Integrated Security=True;TrustServerCertificate=True"
             providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>